body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}


@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}

/*
 * Restaurant page result elements
 */
.restaurant-results-table {
    display: table;
    border-spacing: 10px;
}
.restaurant-results-table-row {
    display: table-row;
}
.restaurant-results-table-cell {
    width: 25vw;
    display: table-cell;
    vertical-align: top;
}


.restaurant-result {
    border: 1px solid #aaa;
}
.restaurant-result h3 {
    margin: 10px;
}
.restaurant-result img {
    width: 100%;
}
.restaurant-result-data-container {
    margin: 5px 10px;
}
.restaurant-result table {
    border-collapse: collapse;
    width: 100%;
}
.restaurant-result tr {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.restaurant-result tr:first-child {
    border-top: 0px;
}
.restaurant-result tr:last-child {
    border-bottom: 0px;
}
.restaurant-result td {
    padding: 5px;
}