<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <p>Results for {{search_term or 'restaurants'}} in {{location}}</p>
        <h2>Top Restaurant:</h2>
        <section class='restaurant-result'>
            <img src="{{ restaurant.get('image_url') }}" />
            <h3>{{ restaurant.get('name') }}</h3>
            <div class='restaurant-result-data-container'>
                <table>
                    <tr>
                        <td><b>Address</b></td><td>{{ restaurant.get('display_address') }}</td>
                    </tr>
                    <tr>
                        <td><b>Rating</b></td><td>{{ restaurant.get('rating') }}⭐ ({{ restaurant.get('review_count') }} reviews)</td>
                    </tr>
                    <tr>
                        <td><b>Price</b></td><td>{{ restaurant.get('price') }}</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
</body>
</html>

