<div class='restaurant-results-table-cell'>
    <div class='restaurant-result'>
        <img src="{{ restaurant.get('image_url') }}" />
        <h3>{{ restaurant.get('name') }}</h3>
        <div class='restaurant-result-data-container'>
            <table>
                <tr>
                    <td><b>Address</b></td><td>{{ restaurant.get('display_address') }}</td>
                </tr>
                <tr>
                    <td><b>Rating</b></td><td>{{ restaurant.get('rating') }}⭐ ({{ restaurant.get('review_count') }} reviews)</td>
                </tr>
                <tr>
                    <td><b>Price</b></td><td>{{ restaurant.get('price') }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
